<template>
  <q-page>
    <div class="q-pa-sm">
      <h1 class="text-h5">{{ extract.info.title }}</h1>
      <div class="text-grey-9">
        <strong class="text-body1">{{ extract.info.compiledBy }}</strong>
        <br />
        <strong class="text-body2">{{ extract.info.editor }}</strong>
      </div>
    </div>
    <q-list padding>
      <q-item
        class="bg-grey-2 q-mb-lg q-mx-sm rounded-borders"
        v-for="(ext, index) in extract.msg"
        :key="index"
      >
        <q-item-section>
          <q-item-label>{{ ext }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>
<script>
export default {
  data() {
    return {
      extract: []
    };
  },
  methods: {
    getData() {
      // var link = `/photos/page${pageNumber}.json`;
      var link = `/extracts/${this.$route.params.date}.json`;

      this.$axios.get(link).then(
        ({ data }) => {
          this.extract = data;
        },
        function(error) {
          console.log(error.statusText);
        }
      );
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
