<template>
  <q-page padding>
    <h3>About</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquam
      natus nisi. Animi, quas cupiditate est corporis eveniet voluptatem
      numquam, harum labore molestiae quia sunt unde libero molestias ullam in.
    </p>
  </q-page>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
