<template>
  <q-page>
    <q-list padding separator>
      <q-item
        clickable
        v-for="extract in extracts"
        :key="extract.id"
        :to="'/extracts/' + extract.fileName"
      >
        <q-item-section>
          <q-item-label
            :class="{ 'text-h6 text-weight-light': $q.screen.gt.sm }"
            >{{ extract.date }}</q-item-label
          >
        </q-item-section>

        <q-item-section side top v-if="emergency">
          <q-icon name="star" color="yellow" />
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>
<script>
export default {
  data() {
    return {
      extracts: [
        {
          id: "5thjan21",
          date: "5th January 2021",
          fileName: "5th-january-2021",
          emergency: false
        },
        {
          id: "5thjan21",
          date: "5th January 2021",
          fileName: "5th-january-2021",
          emergency: false
        },
        {
          id: "5thjan21",
          date: "5th January 2021",
          fileName: "5th-january-2021",
          emergency: false
        }
      ]
    };
  }
};
</script>
