<template>
  <div>
    <div class="radio-box text-center flex flex-center">
      <div>
        <h1 class="text-h6">Lovers of truth</h1>
        <p class="text-body1 f-center">
          Lovers of Truth is a free, minimalistic web app that is focused on
          spreading the truth about the biafran people.
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "MainLayout",
  data() {
    return {
      // leftDrawerOpen: false,
    };
  },

  mounted() {}
};
</script>
<style lang="scss" scoped>
.radio-box {
  position: relative;
  height: calc(100vh - 160px);
}
.btn-fixed-width {
  min-width: 200px;
}
.f-center {
  width: 80%;
  margin: 0 auto;
}
</style>
