<template>
  <q-page :padding="$q.screen.gt.sm">
    <span ref="top" style="width:1px;height:1px;"></span>
    <div style="min-height:500px">
      <vue-masonry-wall :items="photos" :options="options">
        <template v-slot:default="{ item }">
          <q-card square flat class="my-card" v-if="item">
            <q-img :src="item.src" basic>
              <div class="absolute-bottom text-subtitle2 text-center">
                {{ item.title }}
              </div>
            </q-img>
          </q-card>
        </template>
      </vue-masonry-wall>
    </div>
    <!-- <img src="~assets/quasar-logo-full.svg"/> -->

    <div class="q-pa-lg flex flex-center">
      <q-pagination
        v-model="current"
        color="deep-orange"
        :max="13"
        @input="getData"
      >
      </q-pagination>
    </div>
  </q-page>
</template>
<script>
import VueMasonryWall from "vue-masonry-wall";

import photo from "../../public/photos/page1.json";
import { scroll } from "quasar";

const { getScrollTarget, setScrollPosition } = scroll;

export default {
  components: { VueMasonryWall },
  meta () {
    return {
      // this accesses the "title" property in your Vue "data";
      // whenever "title" prop changes, your meta will automatically update
      title: 'Photo'
    }
  },

  data() {
    return {
      // cells: generateCells(),
      photos: [],
      options: {
        width: "500",
        padding: {
          default: this.$q.screen.lt.md ? 2 : 3,
          1: this.$q.screen.lt.md ? 0 : 2,
          2: this.$q.screen.lt.md ? 0 : 2
        }
      },
      current: 1
    };
  },

  methods: {
    getData(pageNumber) {
      if (pageNumber != this.$route.query.page) {
        this.$router.push({ path: "/photos/", query: { page: pageNumber } });
        var link = `/photos/page${pageNumber}.json`;
        this.$axios.get(link).then(
          ({ data }) => {
            this.photos = data;
            this.scrollToElement("top");
          },
          function(error) {
            console.log(error.statusText);
          }
        );
      }
    },
    scrollToElement(el) {
      const target = getScrollTarget(this.$refs[el]);
      const offset = this.$refs[el].offsetTop;
      const duration = 500;
      setScrollPosition(target, offset, duration);
    }
  },
  mounted() {
    // this.getData(1);
    if (this.$route.query.page) {
      this.current = Number(this.$route.query.page);
      var link = `/photos/page${this.$route.query.page}.json`;
      this.$axios.get(link).then(
        ({ data }) => {
          this.photos = data;
        },
        function(error) {
          console.log(error.statusText);
        }
      );
    } else {
      this.photos = photo;
    }
  }
};
</script>
