<template>
  <q-page :padding="$q.screen.gt.sm" class="flex flex-center q-py-sm">
    <div
      class="full-width full-height"
      v-if="videos.length > 0 && !loadingVideos"
    >
      <div class="row q-col-gutter-md">
        <div class="col-xs-12 col-md-6" v-for="id in videos" :key="id">
          <q-card :flat="$q.screen.lt.md" :square="$q.screen.lt.md">
            <q-video
              :ratio="16 / 9"
              :src="`https://www.youtube.com/embed/${id}?rel=0`"
            />
          </q-card>
        </div>
      </div>
    </div>
    <div
      class="flex flex-center"
      v-else-if="videos.length < 1 && !loadingVideos"
    >
      no videos please
    </div>
    <div v-else-if="loadingVideos">
      loading...
    </div>
    <div class="flex flex-center" v-else>
      {{ errorMessage }}
    </div>
  </q-page>
</template>
<script>
export default {
  meta() {
    return {
      // this accesses the "title" property in your Vue "data";
      // whenever "title" prop changes, your meta will automatically update
      title: "Youtube"
    };
  },
  data() {
    return {
      //
      videos: [],
      videospage: 1,
      pageToken: "",
      loadingVideos: false,
      errorMessage: ""
    };
  },
  methods: {
    getVideos() {
      this.loadingVideos = true;
      this.$axios
        .get(
          `https://www.googleapis.com/youtube/v3/search?key=AIzaSyDev2E7K-7jhREiN6E_-QkpSVfoJAbFBQc&channelId=UCr7vQeyt-JpAkUi1BODtHCg&part=id&pageToken=${this.pageToken}&order=date&maxResults=10`
        )
        .then(({ data }) => {
          console.log(data);
          this.videos = data.items.map((val, indx) => {
            return val.id.videoId;
          });
        })
        .catch(e => {
          this.errorMessage = "Sorry an error occured";
        })
        .finally(() => {
          this.loadingVideos = false;
        });
    }
  },
  mounted() {
    this.getVideos();
  }
};
</script>
