<template>
  <div class="relative-position">
    <div class="q-pa-sm">
      <q-btn
        rounded
        color="brown"
        no-caps
        :icon-right="playing ? 'mdi-stop' : 'mdi-play'"
        @click="playing ? stop() : play()"
        >Radio biafra</q-btn
      >
      <div id="playing4" class="playing" v-show="radioLoading == false">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="playing" style="font-size: 2em">
        <q-spinner-oval color="grey-8" v-show="radioLoading == true" />
        <!--  v-show="radioLoading == true" -->
      </div>
    </div>
  </div>
</template>
<script>
import { Howl, Howler } from "howler";
import subMenu from "components/Sub-Menu";

export default {
  name: "MainLayout",
  components: { subMenu },
  data() {
    return {
      leftDrawerOpen: false,
      $xhr: {
        cache: "default",
        mode: "no-cors",
        method: "GET",
        "Access-Control-Allow-Origin": "*",

        credentials: "same-origin",
        redirect: "follow",
        referrer: "client"
        // headers: [{ key: "Authorization", value: "my-token" }]
        // method: "GET",
        // mode: "no-cors",
        // headers: {
        //   "Access-Control-Allow-Origin": "*",
        //   "Content-Type": "application/json"
        // },
        // withCredentials: true,
        // credentials: "same-origin"
      },
      playing: false,
      radioLoading: null,
      paused: false,
      audio: undefined,
      isMuted: false,
      sound: new Howl({
        // autoplay: true,
        xhr: {
          cache: "default",
          mode: "no-cors",
          method: "GET",
          "Access-Control-Allow-Origin": "*",

          credentials: "same-origin",
          redirect: "follow",
          referrer: "client"
        },
        src: ["https://stream.zenolive.com/66t75vdudceuv.aac"],
        html5: true, // A live stream can only be played through HTML5 Audio.
        format: ["mp3", "aac"]
      })
    };
  },
  computed: {
    isPlaying() {
      return this.sound.playing();
    }
  },
  methods: {
    play() {
      this.radioLoading = true;

      this.playing = true;
      this.sound.play();
    },
    stop() {
      this.radioLoading = null;

      this.sound.stop();
      this.playing = false;
    }
  },
  mounted() {
    this.audio = this.$refs.player;
  },
  watch: {
    isPlaying() {
      if (this.isPlaying == true) {
        this.radioLoading = false;
      } else {
        this.radioLoading = null;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
// .radio-box {
//   position: relative;
//   height: calc(100vh - 160px);
// }
.btn-fixed-width {
  min-width: 200px;
}
/* Playing Animation */
.playing {
  position: absolute;
  right: 5%;
  top: 50%;
  margin: -20px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  // display: none;
}
.playing > div {
  background-color: $primary;
  height: 100%;
  width: 5px;
  margin: 0px 2px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: wavy 1s ease infinite forwards;
  animation: wavy 1s ease infinite forwards;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
.playing .rect2 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.playing .rect3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.playing .rect4 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.playing .rect5 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
</style>
