<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: "App",
  data() {
    return {};
  },
  created() {
    this.$q.addressbarColor.set("#ac1e1a");
  }
};
</script>
