<template>
  <div class="WAL position-relative  " :style="style">
    <q-layout view="Lhh lpR fff" class="WAL__layout shadow-3" container>
      <q-header elevated class="bg-white text-grey-9">
        <q-toolbar>
          <q-toolbar-title>
            <q-avatar class="q-pl-sm">
              <img src="/icons/favicon-128x128.png" alt="" />
            </q-avatar>
          </q-toolbar-title>
          <span class="text-grey-7">{{ version }}</span>
          <q-btn
            icon="mdi-gitlab"
            color="grey-6"
            flat
            no-caps
            type="a"
            target="_blank"
            href="https://gitlab.com/copy-ninja/lovers-of-truth"
            >gitlab</q-btn
          >
        </q-toolbar>
        <subMenu v-if="$q.screen.lt.md">
          <div class="q-gutter-sm">
            <q-btn
              no-caps
              rounded
              flat
              color="primary"
              :outline="$route.path != link.url"
              v-for="(link, indx) in links"
              :key="indx"
              :to="link.url"
            >
              {{ link.title }}
            </q-btn>
          </div>
        </subMenu>
        <div
          v-else
          class="q-pa-md  q-mr-auto q-ml-auto"
          style="width:fit-content"
        >
          <q-btn
            no-caps
            rounded
            color="primary"
            class="q-mx-sm"
            v-for="(link, indx) in links"
            :key="indx"
            :to="link.url"
            :outline="$route.path != link.url"
          >
            {{ link.title }}
          </q-btn>
        </div>
        <player></player>
      </q-header>
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import subMenu from "components/Sub-Menu";
import player from "components/Player";
import { version } from "../../package.json";
export default {
  name: "MainLayout",
  components: { subMenu, player },
  meta() {
    return {
      // this accesses the "title" property in your Vue "data";
      // whenever "title" prop changes, your meta will automatically update
      title: "Home",
      titleTemplate: title => `${title} - Lovers of Truth`
    };
  },
  data() {
    return {
      links: [
        { title: "Home", url: "/" },
        // { title: "Extracts", url: "/extracts" },
        { title: "Photos", url: "/photos/" },
        { title: "Youtube", url: "/youtube" }
        // { title: "About", url: "/about" }
        // { title: "Privacy", url: "/privacy" }
      ],
      version: version
    };
  },

  computed: {
    style() {
      // return {
      //   height: this.$q.screen.lt.md
      //     ? this.$q.screen.height + "px"
      //     : this.$q.screen.height - this.$q.screen.height / 10 + "px",
      //   width: this.$q.screen.lt.md ? "100%" : "50%"
      // };
      return {
        height: this.$q.screen.height + "px"
      };
    }
  },
  methods: {},
  mounted() {
    console.log(this.$route);
  }
};
</script>

<style lang="sass">
.WAL
  width: 100%
  height: 100%
  padding-top: 20px
  padding-bottom: 20px
  &:before
    content: ''
    height: 127px
    position: fixed
    top: 0
    width: 100%
    background-color: $primary
  &__layout
    margin: 0 auto
    z-index: 4000
    height: 100%
    width: 90%
    max-width: 950px
    border-radius: 5px
  &__field.q-field--outlined .q-field__control:before
    border: none
  .q-drawer--standard
    .WAL__drawer-close
      display: none
@media (max-width: 850px)
  .WAL
    padding: 0
    &__layout
      width: 100%
      border-radius: 0
@media (min-width: 691px)
  .WAL
    &__drawer-open
      display: none
.conversation__summary
  margin-top: 4px
.conversation__more
  margin-top: 0!important
  font-size: 1.4rem
</style>
